body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#cookie {
  width: 200px;
  height: 200px;
  cursor: pointer;
  touch-action: none; /* Disable default touch behavior */
  user-drag: none; /* Disable dragging on some devices */
  user-select: none; /* Disable text selection on click */
}

.chocolate-chip {
  width: 10px;
  height: 10px;
  background-color: #4d2800; /* Dark brown for chocolate chips */
  border-radius: 50%;
  position: absolute;
}

#cookies {
  font-size: 24px;
  margin-top: 20px;
}

#grandma-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.grandma-img {
  width: 50px; /* Adjusted to 50 pixels */
  height: 50px; /* Adjusted to 50 pixels */
  border-radius: 50%; /* Make it a circle */
  margin: 0 5px; /* Adjust the spacing between grandmas */
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
